{% load static %}


    <!-- Footer Section -->
    <footer class="footer" >
        <div class="container">
            <div class="row">
                <!-- About Us Section -->
                <div class="col-md-4">
                    <h4>About Us</h4>
                    <p>We are passionate developers creating amazing websites and applications. Our goal is to deliver high-quality projects that exceed our clients' expectations.</p>
                </div>
                <!-- Quick Links Section -->
                <div class="col-md-4">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#services">Services</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#technologies">Technologies</a></li>
                    </ul>
                </div>
                <!-- Contact Us Section -->
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <div class="social-icons">
                        <a href="https://github.com/Twomindscreate" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                        <a href="mailto: twomindscreate17@gmail.com" target="_blank"><i class="fas fa-envelope"></i> Gmail</a>
                        <a href="https://www.linkedin.com/in/aniket-suryawanshi-4b06b6274" target="_blank"><i class="fab fa-linkedin"></i> Aniket</a>
                        <a href="https://www.linkedin.com/in/kajal-khatri-83ab01250/" target="_blank"><i class="fab fa-linkedin"></i> kajal</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p class="credits">
                        <i class="fas fa-code" ></i> Developed by Aniket Suryawanshi And Kajal Khatri | <i class="far fa-copyright" ></i> All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

            <!---Footer Section End-->
</body>
</html>
